* {
    box-sizing: border-box;
}

/* view all articles */
.loading-indicator {
    text-align: center;
}

.articles-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ant-card-meta-title {
    white-space: pre-line !important;
    text-align: center;
    margin: -5px;
  }

.ant-card-meta-description {
    padding: 0px;
    margin: -5px;
  }

.article-card {
    text-align: center;
    margin: 10px;
}

.ant-card {
    width: 300px;
}

#ant-card-image {
    height: 20vh;
    object-fit: cover;
}

/* single articles */

#single-article-img {
    width: 90vw;
    max-height: 700px;
    max-width: 800px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}