* {
    box-sizing: border-box;
}

/* Header */

.header-link {
    text-decoration: none;
    color: white;
}

.header-small-link {
    text-decoration: none;
    color: white;
}

.header-small-link :visited{
    text-decoration: none;
    color: white;
}

.drop-down-link {
    text-decoration: none;
    color: #1a76d2;
}

.drop-down-link :visited {
    text-decoration: none;
    color: #1a76d2;
}

/* view all articles */
.dropdown-menus {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.loading-indicator {
    text-align: center;
}

.articles-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ant-card-meta-title {
    white-space: pre-line !important;
    text-align: center;
    margin: -5px;
  }

.ant-card-meta-description {
    padding: 0px;
    margin-top: -5px;
    margin-bottom: -3px;
  }

.article-card {
    text-align: center;
    margin: 10px;
}

.ant-card {
    width: 300px;
}

#ant-card-image {
    height: 20vh;
    object-fit: cover;
}

/* single articles */

#single-article-img {
    width: 90vw;
    max-height: 700px;
    max-width: 800px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.comment-info {
    text-align: center;
}

.votes :hover {
    color: green;
}

/*  */

.submit-comment-btn {
    background-color: #1a76d2;
    margin: 0px 6px 0px 10px;
    color: white;
}

.form-label {
    display: flex;
    justify-content: left;
    justify-content: space-evenly;
    width: 100vw;
    margin: 20px 0px 20px 0px;
}

#add-comment {
    width: 80vw;
}